a {
  color: black !important;
}
.home-card {
  text-align: center;
  margin-top: 2rem;
}

.card-center {
  max-width: 500px;
  margin: 0 auto;
}
.photo-gallery {
  display: flex;
  flex-wrap: wrap;
}